<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1072381182988-5r287p7cm3g9a9tgsv7bjnjebdctcchc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1072381182988-5r287p7cm3g9a9tgsv7bjnjebdctcchc</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1072381182988-4be9rrbvbnkg5d6spv5ifbott1c9ght0.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBnmOsyh-tRG-93cx9m6e5-E3bMTFPQYL4</string>
	<key>GCM_SENDER_ID</key>
	<string>1072381182988</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sagi.barrettcn</string>
	<key>PROJECT_ID</key>
	<string>genius-shooter</string>
	<key>STORAGE_BUCKET</key>
	<string>genius-shooter.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1072381182988:ios:2d545c0499f97438205a29</string>
	<key>DATABASE_URL</key>
	<string>https://genius-shooter.firebaseio.com</string>
</dict>
</plist>